demo/Output_?/**/*.png
demo/Output_?/**/*.pdf
demo/Output_?/**/desktop.ini
demo/Output_?/desktop.ini
demo/desktop.ini
desktop.ini
token.txt
__pycache__/
.idea/
*.pyc
GM-Records/ESM/
GM-Records/NGA/
GM-Records/desktop.ini
haselrec/desktop.ini
docs/desktop.ini
docs/_templates/
docs/_static/
